# Important Part
<b> Below are Notes and Important parts of python </b>

In [39]:
# Tuples are often used for functions that have multiple return values.
# For example, the as_integer_ratio() method of float objects returns a numerator and a denominator in the form of a tuple:

x = 0.125
x.as_integer_ratio()

(1, 8)

Important part ends here. Now <b> Python Basics </b> will begin.

# Python Basics 
For Basic Python Go Below

In [4]:
apples = 4
print(apples)

4

In [5]:
# add 4 to apples
apples = apples + 4
print(apples)

8

## if-else

In [8]:
if apples > 3:
    print('I have more than 3 apples')
else: 
    print('Want more apples')
    
print('apples '*5)

I have more than 3 apples
apples apples apples apples apples

## type()

In [9]:
type(apples)

int

In [10]:
type(18.36)

float

In [11]:
type('hello')

str

In [12]:
type(print())

NoneType

## Arithmetic in Python

In [13]:
print(5 / 2)
print(6 / 2)

2.5
3.0

/ always gives us a float.

The // operator gives us a result that's rounded down to the next integer.

In [15]:
print(5 // 2)
print(6 // 2)

2
3

Order of operations in python is <b> PEMDAS </b> - Parentheses, Exponents, Multiplication/Division, Addition/Subtraction.

## Builtin functions

In [16]:
print(min(1, 2, 3))
print(max(1, 2, 3))

1
3

abs returns the absolute value of an argument:

In [18]:
print(abs(32))
print(abs(-32))

32
32

In [19]:
print(float(10))
print(int(3.33))
print(int('807') + 1)

10.0
3
808

In [20]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

## Functions

In [30]:
def animals(name):
    print('Dog')
    print('Cat')
    print(name)
    
animals('Mice')

Dog
Cat
Mice

In [26]:
help(animals)

Help on function animals in module __main__:

animals(name)

In [35]:
def sum(n1,n2,n3):
    return(n1+n2+n3)

sum(5, 6, 5)

16

## Default arguments
When we called help(print), we saw that the print function has several optional arguments. For example, we can specify a value for sep to put some special string in between our printed arguments:

In [37]:
print(1, 2, 3, sep=' or ')

1 or 2 or 3

In [41]:
def greet(name = 'Tim'):
    print('Hello', name)
    
greet()
greet(name='Lexi')
greet('Skaya')

Hello Tim
Hello Lexi
Hello Skaya

The help for round says that ndigits (the second argument) may be negative.

ndigits=-1 rounds to the nearest 10, ndigits=-2 rounds to the nearest 100 and so on. 
Where might this be useful? Suppose we're dealing with large numbers:
The area of Finland is 338,424 km²
The area of Greenland is 2,166,086 km²

We probably don't care whether it's really 338,424, or 338,425, or 338,177. All those digits of accuracy are just distracting. We can chop them off by calling round() with ndigits=-3:

The area of Finland is 338,000 km²
The area of Greenland is 2,166,000 km²

In [42]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

## booleans and conditionals

In [2]:
def can_vote(age):
    """Can someone of the given age run for president in the US?"""
    # The US Constitution says you must be at least 35 years old
    return age >= 18

print("Can a 19-year-old vote?", can_vote(19))
print("Can a 4-year-old vote?", can_vote(4))

Can a 19-year-old vote? True
Can a 4-year-old vote? False

In [4]:
print(3.0 == 3)
print('3' == 3)

True
False

In [11]:
def inspect(x):
    if x == 0:
        print(x, "is zero")
    elif x > 0:
        print(x, "is positive")
    else:
        print(x, "is negative")

inspect(0)
inspect(-15)
inspect(3)

0 is zero
-15 is negative
3 is positive

In [12]:
print(bool(1)) # all numbers are treated as true, except 0
print(bool(0))
print(bool("asf")) # all strings are treated as true, except the empty string ""
print(bool(""))

True
False
True
False

## Lists

In [21]:
primes = [2, 3, 5, 7]
print(sum(primes)) #sum--> returns sum of list
print(max(primes))
print(min(primes))

17
7
2

In [36]:
type(primes)

list

In [27]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [28]:
sorted(planets) #sorted --> sorted list

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [29]:
len(planets) #len --> length of lists

8

In [30]:
planets.append('Pluto')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [31]:
planets.pop()
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [32]:
planets.index('Earth')

2

In [33]:
'Venus' in planets

True

## Tuples
Tuples are almost exactly the same as lists. They differ in just two ways.

1: The syntax for creating them uses parentheses instead of square brackets
2: They cannot be modified (they are immutable).

In [34]:
t = (1, 2, 3)
t

(1, 2, 3)

In [35]:
type(t)

tuple

Tuples are often used for functions that have multiple return values.

For example, the as_integer_ratio() method of float objects returns a numerator and a denominator in the form of a tuple:

In [37]:
x = 0.125
x.as_integer_ratio()

(1, 8)

## Strings

In [1]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [2]:
len(planet)

5

In [3]:
# We can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [4]:
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [5]:
claim.lower()

'pluto is a planet!'

In [6]:
claim.index('pla')

11

In [7]:
claim.startswith(planet)

True

In [8]:
claim.endswith('dwarf planet')

False

In [11]:
claim.endswith('!')

True

In [15]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [20]:
'👏 '.join(words)

'Pluto👏 is👏 a👏 planet!'

## Dictionaries 
Dictionaries are a built-in Python data structure for mapping keys to values.

In [30]:
numbers = {'one':1, 'two':2, 'three':3}

In [31]:
numbers['one']

1

In [32]:
numbers['four'] = 4
numbers

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [34]:
numbers.keys()

dict_keys(['one', 'two', 'three', 'four'])

In [35]:
numbers.values()

dict_values([1, 2, 3, 4])